<h2> Contáctanos a nuestro Email. </h2>
<form action=''>
	<input type='text' placeholder='usuario'>
	<input type='password' placeholder='Contraseña'>
	<input type='submit' placeholder='Enviar'>
</form>